{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="tech-page">
            <div class="grid-sidebar">
                <div>
                    <h2 class="center">rapport</h2>
                </div>
                {% for page in pages("analysis") %}
                <div>
                    <h3><img src="{{ assets_url }}/svg/{{ page.description }}.svg" class="tech">
                    <a href="{{ page.url }}">{{ page.title }}</a></h3>
                </div>
 {% endfor %}
            </div>
            <div class="grid-tech-content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
