{% set images = [
    "2009-shanghai-04-nanjinglu-o.avif",
    "2010-malmo-01-midwinter-o.avif",
    "2010-malmo-02-midwinter-o.avif",
    "2012-tianjin-01-zhongxin-o.avif",
    "2012-tianjin-04-gu-wenhua-jie-o.avif",
    "2012-tianjin-05-binjiang-dao-o.avif",
    "2014-beijing-01-sanlitun-o.avif",
    "2014-beijing-03-changcheng-o.avif",
    "2014-beijing-05-sanlitun-o.avif",
    "2014-beijing-07-tiananmen-o.avif",
    "2014-tianjin-04-jinta-o.avif",
    "2014-tianjin-05-jiefangqiao-o.avif",
    "2014-tianjin-07-dabeiyuan-o.avif",
    "2014-tianjin-09-tianjin-zhi-yan-o.avif",
    "2015-beijing-03-gugong-o.avif",
    "2015-beijing-05-shichahai-o.avif",
    "2015-beijing-07-wudaoying-o.avif",
    "2015-beijing-09-yonghegong-o.avif",
    "2015-kosice-01-o.avif",
    "2015-veneto-01-marostica-o.avif",
    "2015-veneto-02-venezia-o.avif",
    "2017-hangzhou-01-longjing-o.avif"
] %}

{% set ff = 'sa=webp' %}
{% set x1 = 'dpr=1' %}
{% set x2 = 'dpr=2' %}

{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>

    <div class="gallery">
        {% for image in images %}
        <a class="picture" href="{{ base_url }}/image/gallery/{{ image }}" target="_blank">
            <picture>
                <source media="(min-width: 800px)"
                    srcset="{{ base_url }}/image/gallery/{{ image }}&w=800&{{ ff }}&{{ x1 }} 1x,
                        {{ base_url }}/image/gallery/{{ image }}&w=800&{{ ff }}&{{ x2 }} 2x">
                <source media="(min-width: 600px)"
                    srcset="{{ base_url }}/image/gallery/{{ image }}&w=600&{{ ff }}&{{ x1 }} 1x,
                        {{ base_url }}/image/gallery/{{ image }}&w=600&{{ ff }}&{{ x2 }} 2x">
                <source media="(min-width: 400px)"
                    srcset="{{ base_url }}/image/gallery/{{ image }}&w=400&{{ ff }}&{{ x }} 1x,
                        {{ base_url }}/image/gallery/{{ image }}&w=400&{{ ff }}&{{ x2 }} 2x">
                <source media="(min-width: 200px)"
                    srcset="{{ base_url }}/image/gallery/{{ image }}&w=200&{{ ff }}&{{ x1 }} 1x,
                        {{ base_url }}/image/gallery/{{ image }}&w=200&{{ ff }}&{{ x2 }} 2x">
                <img src="{{ base_url }}/image/gallery/{{ image }}&w=1000&{{ ff }}&{{ x1 }}"
                    srcset="{{ base_url }}/image/gallery/{{ image }}&w=1000&{{ ff }}&{{ x2 }} 2x"
                    alt="{{ image }}">
            </picture>
        </a>
        {% endfor %}
    </div>

    <div class="video">
        <iframe width="1000" height="562" src="https://www.youtube.com/embed/Z5NoQg8LdDk" title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope" style="border: none;"></iframe>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
