{% include 'incl/header.twig' %}

<body>
{% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            <h1>{{ meta.title }}</h1>
{% for reports in meta.reports %}
            <div class="{{ reports.class }}">
                <p><img src="{{ assets_url }}/svg/{{ reports.svg }}" class="tech" alt="{{ reports.alt }}">
                    <a href="{{ base_url }}/{{ reports.url }}">{{ reports.title }}</a></p>
            </div>
{% endfor %}
        </div>
    </div>
    
{% include 'incl/footer.twig' %}
</body>

</html>
