{% include 'incl/header.twig' %}

<body>
{% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="tech-page">
            <div class="grid-sidebar">
                <div>
                    <h2 class="center">rapport</h2>
                </div>
{% for page in pages("technology") %}
                <div>
                    <p><img src="{{ assets_url }}/svg/{{ page.meta.svg }}.svg" class="tech" alt="{{ page.description }}">
                    <a href="{{ page.url }}">{{ page.title }}</a></p>
                </div>
 {% endfor %}
            </div>
            <div class="grid-tech-content">
                {{ content }}
            </div>
        </div>
    </div>

{% include 'incl/footer.twig' %}
</body>

</html>
